@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Roboto+Slab&display=swap');

/* Define CSS variable */
:root {
    --primary-color: #f72585;
    --secondary-color: #7209b7;
    --accent1-color: #3a0ca3;
    --accent2-color: #4361ee;
    --font-color: #333333;
    --background-color: #FFFFFF;

    --heading-font: 'Metamorphous', sans-serif;
    --paragraph-font: 'Roboto Slab', serif;

    --nav-background-color: #264653;
    --nav-link-color: #2a9d8f;
    --nav-hover-link-color: #e9c46a;
    --nav-hover-background-color: #e76f51;
}

/* General styles */
body {
    font-family: var(--paragraph-font);
    color: var(--font-color);
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* Header Styles */
header {
    color: white;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #f725a7;
    border: 2px solid #c1c1c1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 5px 1fr 1fr 1fr 5px;
}


header img {
    max-height: 150px;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px rgb(80, 4, 87);
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/5;
}

nav {
	text-align: center;
    grid-column: 4/8;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: 3/3;
    justify-content: space-around;
    background-color: white;
}


nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    text-align: center;
    width: 100%;
    position: relative;
    height: 400px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
    top: 10%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center;
}

/* Article Styles */
.hero article {
    display: flex;
    position: absolute;
    bottom: 40px;
    background-color: rgba(22, 0, 23, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    right: 10px;
    left: 10px;
    align-items: center;
    justify-content: center;
}


.hero article img {
    max-height: 150px;
    margin-right: 10px;
    float: right;
    margin-left: 10px;    
}

.center-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-image img {
    margin: 0 10px;
    padding: 10px;
    max-height: 420px;
}

h2 {
    text-align: center;
}

article p {
    font-size: 1.2em;
    color: white;
    text-align: right;
}


/* Section Styles */
section {
    border: 2px solid #c1c1c1;
    padding: 2rem;
    margin: 40px 0;
}

section h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
section p {
    font-size: 1em;
    color: var(--font-color);
}

/* Image Gallery */
section img {
    height: auto;
    margin: 10px 0;
}


.grid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-container figure {
    border: thin #c0c0c0 solid;
    padding: 5px;
    max-width: 220px;
    margin: 0;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.grid-container img {
    max-width: 200px;
    height: auto;
    align-items: center;
}


figcaption {
    background-color: rgb(84, 11, 11);
    color: #fff;
    font-family: var(--paragraph-font);
    font-style: italic;
    font-size: small;
    padding: 3px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}



main {
    padding: 20px;
}

/* Footer Styles */
footer {
    padding: 10px 0;
    color: var(--accent1-color);
    background-color: #f725a7;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 25%);  
}


footer p {
    margin: 10px 0;
    grid-column: 1/4;
    text-align: right;
}

footer .sociallinks {
    display: flex;
    grid-column: 4/5;
    grid-row: 1/1;
    background-color: transparent;
    border: transparent;
}

footer .sociallinks a {
    text-decoration: none;
}

footer .sociallinks img {
    max-height: 50px;
}

footer nav a {
    margin: 10px 0;
}

